.carousel>img:first-of-type {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.carousel-smaller {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.carousel-smaller img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}